.offer {
  background-color: #405d78;
  position: relative;
  width: 100%;
}

.containerOffer {
  padding-top: 51px;
  padding-bottom: 68px;
  margin-left: 14px;
  margin-right: 14px;
}

.headerServices {
  font-weight: 700;
  color: #ffffff;
  font-size: 26px;
  text-align: center;
}

.containerServices {
  display: flex;
  flex-wrap: wrap;
  gap: 63px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-top: 81.67px;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .headerServices {
    font-size: 36px;
    text-align: start;
  }

  .containerServices {
    flex-direction: row;
  }
}
